<h1>T＋eravel（ティーラベル）とは</h1>
<p>Travel ＋eravel （トラベル＋エラベル）<br>
行きたい場所を選べる、探せる、見つけられる</p>

<section class="about-explain">
	<div class="animate-title">You can find</div>
</section>

<section class="about-explain">
	<div class="animate-title">You can save</div>
</section>

<section class="about-explain">
	<div class="animate-title">And go on an adventure into an unkonwn world!</div>
</section>


<p>T+eravel passportを作る</p>
<%= link_to "registration", new_user_registration_path %>
<p>いますぐ旅行にチェックインする</p>
<%= link_to "Check_in", new_user_session_path %>

