<ul class="slider">
	<% @all_ranks.each do |post| %>
		<li class="inview">
			<%= link_to attachment_image_tag(post,:post_image, format: "jpeg", class: "img-zoom bx-wrapper"), post_path(post) %></li>
	<% end %>
</ul>
<%= link_to "投稿をもっと見る", posts_path, class: "btn btn-primary center-block" %>

<div class="search-container">
<div class="search-area text-center">
	<%= form_tag('/', method: :get, placeholder:'',remote: true) do %>
		<%= text_field_tag :body, :'', id:'searching-form', class: "form-control search-top fa", placeholder: "\uf002", autocomplete:'off' %>
	<% end %>
</div>

	<div class="result">
		<ul></ul>
	</div>
</div>

