<div class="container">
  <div class="row">
  <div class="col-xs-12">
        <%#= プルダウンを選択後にページに遷移  %>
        <span class="sort-box col-lg-2 col-md-3 col-xs-4">
          <select name="search" onChange="myfunc(this.value)" id="sort-select" class="form-control">
            <option value="">並び替え</option>
            <option value="created_at_desc">新着順</option>
            <option value="created_at_asc">古い順</option>
            <option value="rate">高評価</option>
            <option value="shooting_date">撮影時期（新しい順）</option>
            <option value="favorite">いいね</option>
          </select>
        </span>
      </div>
      <div class="row">
      <%= render 'posts/index',posts: @posts %>
      </div>
  </div>
</div>