
<div class="search-container">
	<%= form_tag('/search', method: :get, placeholder:'',remote: true) do %>
		<%= text_field_tag :body, :'', id:'searching-form', placeholder:'検索', autocomplete:'off' %>
	<% end %>

	<div class="result">
		<ul></ul>
	</div>
</div>

