/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

 * {
  margin: 0;
  padding: 0;
}

 body {
   font-family: "futura","筑紫A丸ゴシック","筑紫B丸ゴシック","游ゴシック体","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
   padding-top: 100px;
   padding-bottom: 100px;
   }
.main {
	margin-top: 20px;
	margin-bottom: 50px;
}

.img-zoom {
	opacity: 1;

	.inview & {
		opacity: 1;
		transition: transform 0.3s ease;
		&:hover{
		transform: scale(1.2);
		}
	}
}


.img {
	background-size:cover;
}

.logo {
	width: 160px;
}

.profile-image-icon {
	border-radius: 10px;
	border: solid 0.3px #9DCDE6;
}

li .icon {
	font-size: 20px;
	margin-top: 10px;
	margin-left: 15px;
}