<div class="container">
<footer>
	<nav>
		<ul>
			<li><%= link_to 'ホーム', root_path %></li>
			<li><%= link_to 'T+eravelとは', home_about_path %></li>
			<li><%= link_to '投稿', posts_path %></li>

		</ul>
	</nav>
</footer>

<p>Copyright (c) T+eravel All Rights Reserved.</p>
</div>