<div class="container">
<footer>
	<div class="clearfix">
		
		<div class="pull-left col-xs-2">
			<%= link_to 'ホーム', root_path %>
		</div>
		<div class="pull-left col-xs-2">
			<%= link_to 'T+eravelって何？', home_about_path %>
		</div>
		<div class="pull-left col-xs-2">
			<%= link_to '投稿一覧', posts_path %>
		</div>

	</div>
	<div class="center-block">
	<p>Copyright (c) T+eravel All Rights Reserved.</p>
	</div>
</footer>